<main class="index container">

  <div class="row justify-content-center">

    <div class="col-md-6 align-self-center cont">
      <img src="images/logojirafa.jpg" alt="">
      <h1>{{title}}</h1>

      <hr>

      <form action="/result" method="post">

        <div class="form-group">
          <label for="kataId">Kata Id or Slug</label>
          <input type="text" class="form-control form-control-lg" id="kataId" placeholder="Introduce el ID de la Kata"
            name="kataId">
        </div>
        <div class="form-group">
          <label for="Course">Grupo</label>
          <select class="form-control form-control-lg" id="Course" name="Course">
            {{#each data}}
            <option>{{this.courseName}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-secondary btn-lg btn-block">Consultar</button>

      </form>

    </div>

  </div>
</main>