h1, label, p {
  font-weight: 100
}

.index.container .row, .results.container .row{
  min-height: 100vh;
}

hr {
  margin: 30px 0 80px 0;
}

.btn {
  margin-top: 40px
}

.results table {
  margin-top: 80px
}

img{
  height: 200px;
  width: 200px;
}

.cont{
  text-align: center;
}